<p id="notice"> <%= notice %></p>


<div class="stripe">


<h1 class="title"><%= @user.user_name.capitalize %>'s Profile Page</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">

      <p class="profile-name"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span><strong> Profile Name: </strong><%= @user.user_name %> </p>
      <p class="name"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><strong>Name: </strong><%= @user.full_name %></p>
      <p class="location"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><strong> Email: </strong><%= @user.email %></p>
    </div>

    <div class="col-md-1">
    </div>

    <div class="col-md-7">
    <h3> <%= @user.user_name.capitalize %>'s Posts</h3><br />
      <% @user.posts.each do |chat| %>
      <p class="posts">
      <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
      <%= post.message %> </p>
      <p class="time-stamp"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Created <%= time_ago_in_words(chat.created_at) %> ago</p>
      <% end %>

    </div>
  </div>
</div>

