<%= simple_form_for([@user, @new_chat], multipart: true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :movie_title, required: true %>
    <%= f.input :poster_image, required: true %>
    <%= f.input :url, required: true %>
    <%= f.input :descrition, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
